body {
  background-image: url('https://github.githubassets.com/images/modules/open_graph/github-mark.png');
  background-size: 50px;
}

button {
  width: 200px;
  height: 40px;
  background-color: white;
  color: #24292e;
  margin: 1%;
  border-radius: 10px;
  font-size: 1rem;
}

button:hover {
  background-color: #24292e;
  color: white;
}
